# Dependencies
node_modules/
dist/
# build/ (Allowed for direct deployment due to low server RAM)
# build/
.DS_Store

# Environment variables
.env
.env.local
.env.production
.env.development

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Temporary files
tmp/
.temp/
